@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  /* CSS HSL */
  /* https://coolors.co/ */

  --primaria: rgb(0, 0, 0);
  --background: rgb(255, 255, 255);
  --secundaria: rgb(255, 255, 255);
  --destaque: rgb(0, 19, 34);
  --detalhe: rgb(255, 255, 255);
  --botoes: rgb(0,49,88);
  --detalhes: rgb(0, 133, 255);
  --fundos: rgb(187, 200, 210);

/*  --primaria: hsla(0, 1%, 20%, 1);
  --background: hsla(81, 21%, 74%, 1);
  --secundaria: hsla(135, 7%, 64%, 1);
  --destaque: hsla(8, 34%, 54%, 1);
  --detalhe:hsla(241, 96%, 72%, 1);*/
}

/* borda vermelha em todos os elementos para debug */
/*
* {
  outline: red solid 1px;
}
*/

body {
  margin: 0;
  font-family: 'Lora', serif;
  background-color: var(--background);
  color:var(--primaria);
}

a {
  font-family: 'Century Gothic', sans-serif;
}

div.container {
  padding: 1rem;
}

h1,h2,h3,h4,h5,h6{
  margin: 0;
  font-family: 'Century Gothic', sans-serif;
  font-weight: light;

}

div.retanguloCinza {
  position: static;
  background-color: var(--fundos);
  padding: 50%;
  width: 80%;
  height: 100%;
}

div.retanguloBranco1Home {
  position: absolute;
  background-color: var(--background);
  top: 20%;
  left: 2%;
  width: 97%;
  height: 60%;
}
div.retanguloBranco2Home {
  position: absolute;
  background-color: var(--background);
  top: 82%;
  left: 2%;
  width: 45%;
  height: 62%;
}
div.retanguloBranco3Home {
  position: absolute;
  background-color: var(--background);
  top: 82%;
  left: 48%;
  width: 51%;
  height: 30%;
}
div.retanguloBranco4Home {
  position: absolute;
  background-color: var(--background);
  top: 114%;
  left: 48%;
  width: 51%;
  height: 30%;
}
div.retanguloBranco5Home {
  position: absolute;
  background-color: var(--background);
  top: 146%;
  left: 2%;
  width: 97%;
  height: 60%;
}
