@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  /* CSS HSL */
  /* https://coolors.co/ */

  --primaria: rgb(224, 230, 236);
  --background: rgb(10, 10, 9);
  --secundaria: rgb(58, 55, 51);
  --destaque: hsla(355, 78%, 56%, 1);
  --detalhe: rgb(59, 51, 50);


/*  --primaria: hsla(0, 1%, 20%, 1);
  --background: hsla(81, 21%, 74%, 1);
  --secundaria: hsla(135, 7%, 64%, 1);
  --destaque: hsla(8, 34%, 54%, 1);
  --detalhe:hsla(241, 96%, 72%, 1);*/
}

/* borda vermelha em todos os elementos para debug */
/*
* {
  outline: red solid 1px;
}
*/

body {
  margin: 0;
  font-family: 'Lora', serif;
  background-color: var(--background);
  color:var(--primaria);
}

a {
  font-family: 'Times new roma', sans-serif;
}

div.container {
  padding: 1rem;
}

h1,h2,h3,h4,h5,h6{
  margin: 0;
}
.centralizado {
  text-align: center;
}
